@import "tailwindcss";

html {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  background-color: rgb(3 7 18);
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
